<!DOCTYPE html>
<html>
    <head>
        <!-- Stylesheets -->    
        <link rel="stylesheet" href="../stylesheets/angular-material-1.1.4.min.css">

        <!-- Angular and Dependencies -->
        <script src="../lib/angular-1.6.4.min.js"></script>
        <script src="../lib/angular-route-1.6.4.min.js"></script>
        <script src="../lib/angular-animate-1.6.4.min.js"></script>
        <script src="../lib/angular-aria-1.6.4.min.js"></script>
        <script src="../lib/angular-messages-1.6.4.min.js"></script>
        <script src="../lib/angular-material-1.1.4.min.js"></script>
        <script src="../app/app.js"></script>
        <script src="../directives/citiesListDirective.js"></script>
        <script src="../services/dataService.js"></script>
        <script src="../services/errorMsgService.js"></script>
        <script src="../controllers/mainCtrl.js"></script>
    </head>
<body ng-app='TicketApp' ng-controller='mainCtrl' ng-cloak>
    <md-content layout="column" layout-align="space-around center">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                <span>Ticket App</span>
                </h3>
            </div>
        </md-toolbar><br/><br/>
        
    <b>Note:</b> Please run the code on a npm http-server, so as it allows to fetch other html files by cross-origin request<br/>
    <br>

    <cities></cities>

    <form id='primaryInfo' name='primaryInfoForm' layout='row' layout-align='space-around center'>
            
            <md-input-container>
                <label>From</label>
                <input type='text' name='fromCity' ng-pattern='/^\w+$/' ng-model='primaryInfo.fromCity' required>
                <div ng-messages="primaryInfoForm.fromCity.$error">
                    <div ng-repeat="m in cityInputErrors" ng-message-exp="m.flag">{{m.description}}</div>
                </div>
            </md-input-container>
            
            <img src='../lib/images/ic_cached_black_18dp_2x.png' ng-click='toggleCities()' alt='switch'>
    
            <md-input-container>
                <label>To</label>
                <input type='text' name='toCity' ng-pattern='/^\w+$/' ng-model='primaryInfo.toCity' required>
                <div ng-messages="primaryInfoForm.toCity.$error">
                    <div ng-repeat="m in cityInputErrors" ng-message-exp="m.flag">{{m.description}}</div>
                </div>
            </md-input-container>

            <div flex-gt-xs>
                <md-datepicker required ng-model="primaryInfo.journeyDate" md-placeholder="Enter date"></md-datepicker>
            </div>

            <md-button ng-disabled="!primaryInfo.fromCity || !primaryInfo.toCity || !primaryInfo.journeyDate" 
            class='md-raised md-primary' ng-click='fetchData()'>Search Buses</md-button>
    </form>
    


    </md-content>
</body>
</html>