<div layout='column' layout-align='space-around center'>
<b>We connect you to..</b>
<div layout='row' layout-align='space-between center'>
    <md-button class="md-primary" ng-repeat="city in cities" ng-click="pushSelection(city)">{{city}}</md-button>
</div>
</div>