<form name='primaryInfoForm' id='primaryInfo' layout='column' layout-align='space-around center'>
    <div layout='row' layout-align='space-around center'>
     <md-input-container>
        <label>Trip Name</label>
        <input type='text' name='tripName' ng-model='primaryInfo.tripName' required>
        <div ng-messages="primaryInfoForm.tripName.$error" ng-messages-multiple>
            <div ng-repeat="m in nameInputErrors" ng-message-exp="m.flag">{{m.description}}</div>
        </div>
    </md-input-container>
    </div>
    
    <div layout='row' layout-align='space-between center'>
        <md-input-container>
            <label>Start Date</label>
            <md-datepicker required ng-model="primaryInfo.startDate" md-placeholder="mm/dd/yyyy"></md-datepicker>
        </md-input-container>

        <md-input-container>
                <label>End Date</label>
                <md-datepicker required ng-model="primaryInfo.endDate" md-placeholder="mm/dd/yyyy"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
                <label>Description(Optional)</label>
                <textarea ng-model="primaryInfo.description" md-maxlength="100" rows="4" md-select-on-focus></textarea>
        </md-input-container>
    </div>

    <md-button class='md-raised md-primary' ng-click='addTrip()'
    ng-disabled="!primaryInfo.tripName || !primaryInfo.startDate || !primaryInfo.endDate">Add Trip</md-button>

</form>
