<br/>
<h3 align='center' ng-show='trips.length==0'>
    <font color='grey'>It's empty in here.. Add a trip fast!!</font>
</h3>

<div ng-show='trips.length>0'>
        <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat = "trip in trips" label={{trip.primaryInfo.tripName}}>
                  <md-content class="md-padding">
                        <init-map map="map"></init-map>
                  </md-content>
                </md-tab>
        </md-tabs>
        
</div>





